<!DOCTYPE html>
<html>
  <head>
    <title>eventLite</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU2CEwReRJppV_B05cQ2-6Emahh-82dzw&libraries=places"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
